#main-title{text-align: center;}
.navbar a{color: blue;}
.container h2{font-size: 22px;}
.highlight{color: red;}
header li{font-size: 18px;}
.service-list li:first-child{text-align: center;}
.review h3{color: green;}
aside h2{text-align: right;}
.notice-list li:last-child{color: orange;}
.notice-list li:nth-child(2){font-size: 20px;}
.review:first-of-type p{color: purple;}
footer a{color: green;}
a[target="_blank"]{text-align: center;}
button{font-size: 16px;}
button:hover{color: gray;}
.intro + article{font-size: 24px;}
section h2{text-align: center;}
.review:last-child{color: pink;}
.service-list li:nth-child(3){color: red;}
nav li:last-child{text-align: right;}
article{font-size: 20px;}
aside li:first-child{color:blue}
header h1{color: purple;}
.services ul{text-align: left;}
footer p{font-size: 12px;}
h3{color: blue;}
.notice-list li:nth-child(2n+1){color: green;}
.notice-list li:nth-child(2n){color: orange;}
section p{font-size: 16px;}
article p:first-of-type{color: red;}
nav a:hover{color: green;}
button:hover{font-size: 18px;}
.review:first-of-type h3{font-size: 24px;}
article:first-of-type{color: purple;}
.service-list li:last-child{font-size: 18px;}
.intro p{color: green;}
.services h2{font-size: 20px;}
footer a:hover{color: red;}
.reviews div:last-child{font-size: 22px;}
.navbar li:first-child{color: orange;}